# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.


# This is comment: This does not allow user to explore this directory (uploads) by typing URL in browser.
deny from all

# This is comment: This flag will turn off php engine for this particular directory. This avoids hacking by uploading a php file to this directory.
php_flag engine off
